<link rel="stylesheet" href="css\chatbox.css">
<%if(locals.user){%>
    <div id="user-chat-box">
    <ul id="chat-messages-lists">
        <li class="other-message">
            <span>Other message</span>
        </li>
        <li class="self-message">
            <span>Self message</span>
        </li>
    </ul>
    <div id="chat-message-input-container">
        <input type="text" placeholder="Type message here" id="chat-message-input">
        <button type="submit" id="send-message">Send</button>
    </div>
    </div>
<%}%>