<link rel="stylesheet" href="<%=assetPath('css/header.css')%>">
<header>
    <div><a href="/">Slikup</a></div>
    <ul>
        <% if (locals.user){%>
            <li><%=user.name%></li>
            <li><a href="/users/signout">Sign out</a></li>
        <%} else{%>
            <li><a href="/users/signup">Sign up</a></li>
            <li><a href="/users/signin">Sign in</a></li>
        <%}%>
    </ul>
</header>