    <link rel="stylesheet" href="\css\home.css">
    <div>
    <h1>
        This is slikup
    </h1>
    </div>
    <section id="new-postArea">
        <h3>Posts</h3>
        <form action="/posts/create_post" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3"></textarea>
            <button type="submit">Post</button>
        </form>
    </section>
    <section id="post-list-container">
        <ul>
            <%console.log(Posts)%>
            <%for(i of Posts){%>
            <%- include('_post.ejs');%>
            <%}%>
        </ul>
    </section>
    <section id="user-friends">
        <h4>Friends</h4>
        <%for(i of all_users){%>
            <p>
                <a href="/users/profile/<%=i.id%>"><%=i.name%></a>
            </p>
        <%}%>

    </section>
    <script src="/js/home_post.js"></script>

