<form action="/users/signin/login" method="POST">
    <h1>Sign In</h1>
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" placeholder="Enter Username" required>
    <br>
    <label for="password">password: </label>
    <input id="password" type="password" name="password" placeholder="password" required>
    <br>
    <button type="submit">Submit</button>
</form>

<p>
    <a href="/users/auth/google">Google Sign In / Sign Up</a>
</p>