<a href="localhost:8000/users/reset-password/<%=ResetPass.accessToken%>">localhost:8000/users/reset-password/?accessToken=<%=ResetPass.accessToken%></a>
<a href="/users/reset-password/?accessToken=<%=ResetPass.accessToken%>">localhost:8000/users/reset-password/?accessToken=<%=ResetPass.accessToken%></a>